body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.hero {
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.ibkn2WuAuz3dt68iy5KJiwHaFS&pid=Api&P=0&h=180');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-content img {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  object-fit: cover;
  border: 3px solid #333;
}

.about {
  background-color: rgba(0, 255, 255, 0.407);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.text {
  flex: 1;
  text-align: center;
}

.text h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.photo {
  flex: 0 0 300px;
  text-align: right;
}

.photo img {
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 36px;
  color: #333;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.education-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  gap: 30px;
}

.edu-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.edu-card img {
  max-width: 100%;
  border-radius: 10px;
}

.edu-card p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.certificate-box {
  width: 500px;
  height: 350px;
  background-color: #ffffff;
  border: 2px dashed #aaa;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666;
}

.certificate-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contact-box {
  background-color: white;
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.contact-box p {
  margin: 10px 0;
}

textarea {
  width: 100%;
  height: 80px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 5px 10px;
}
